// ion-content ion-toolbar {
//   --background: translucent;
// }

.img-avatar {
  width: 150px;
}

.top-20 {
  margin-top: 20px;
}

ion-button{
  width: 60%;
}

.button{
  display: flex;
  justify-content: center;
}
