<app-header titulo="Home"></app-header>


<ion-content>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando...">

    </ion-refresher-content>
  </ion-refresher>

  <app-posts [posts]="posts"></app-posts>

  <!-- Infinete Scroll -->
  <ion-infinite-scroll threshold="25%" position="bottom" [disabled]="!habilitado" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
